button.accordion {
    background-color: #9e38b0;
    cursor: pointer;
    padding: 3.5%;
    width: 100%;
    text-align: left;
    padding-top: 65px;
    color: white;
    font-size: 1.5em;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom-style: solid;
    border-bottom-color: #6f277d;
    border-bottom-width: 6px;
    font-weight: bold;
}

button.accordion.active, button.accordion:hover {
    background-color: #6844b7;
    border-bottom-color: #4c3185;
}


div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.accordion:after {
    content: '\2303'; 
    font-size: 280%;
    color: white;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2304"; 
}

div.panel p{
	border: 0.1px;
	border-style:solid; 
	border-color: #d7d7e4; 
	height: 110%;
	position: relative;
	top: -24px;
	left: -18px;
	width: inherit;
	font-family; Monospace;
	font-size: 1.5em;
	color: #5c5c5c;
	text-align: center;
	padding: 30px;
}
@media screen (min-width: 480px)and (max-width: 550px){
	div.panel p{
		color: green;
	}
}
